<div class="container-fluid" *ngIf="route.children.length ===0">
  <div class="row">
    <div class="col-12" style="padding-bottom: 5px;">
      <div class="card">
        <app-supplier-header></app-supplier-header>
        <div class="card-body">
          <div class="row justify-content-between" style="margin:0 -5px 0 -5px">
            <button class="btn btn-outline-primary mb-1" type="button" title="Excel"
              [style.visibility]="(user$|async)?.IdRole<=1?'visible':'hidden'" (click)="onClickBtnExcel($event)">
              <fa-icon [icon]="['far', 'file-excel']"></fa-icon>
            </button>
            <input class="form-control form-control-sm col-2 mb-1" type="text" id="filter-text-box"
              (input)="onFilterChanged($event)" placeholder="Cerca..." />
          </div>

          <ag-grid-angular style="width: 100%;height: 100%;" class="ag-theme-alpine" [gridOptions]="gridOptions"
            (filterChanged)="onFilterColumnChanged($event)" [suppressDragLeaveHidesColumns]="true"
            [rowData]="rowData$|async">
          </ag-grid-angular>
          <ng-container [ngTemplateOutlet]="TotaleLivello"></ng-container>
        </div>
      </div>
    </div>
  </div>

</div>

<router-outlet></router-outlet>

<ng-template #TotaleLivello>
  <div class="form-row pt-3" *ngIf="dataTotale">
    <div class="col-3">
      <div class="col-12" style="background-color: white;border: 1px solid rgba(0, 0, 0, .0625);">
        <div class="col-12 align-self-center p-0">
          <div style="text-align: -webkit-center;">
            <app-rounded-doughnut-chart [data]="dataTotale.Bench3" [value]="getValueBenchTotale()" title="Totale">
            </app-rounded-doughnut-chart>
          </div>
          <div class="d-flex justify-content-between col-12 p-0 " style="visibility: hidden !important;">
            <span class="col-6">
              <span class="form-row">
                <div class="form-group">
                  <label></label>
                  <input type="number" class="form-control disabled" readonly [value]="">
                  <small>% </small>
                </div>
              </span>
            </span>
            <span class="col-6">
              <span class="form-row">
                <div class="form-group">
                  <label class="float-right"></label>
                  <input type="number" class="form-control" [value]="">
                  <small>%</small>
                </div>
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
