<div class="card">
  <div class="card-header">
    <span class="d-flex justify-content-between">
      <span class="form-row">
        <h6>Accordo quadro</h6>
        <dp-navtab class="col" #wizard [classText]="wizzardClassText" [defaultTab]="0"
          [collectionTab]="wizzardCollectionYear$|async" (tabClicked)="this.wizardYear = $event.data;">
        </dp-navtab>
      </span>
      <dp-navtab class="col" #wizard [classText]="wizzardClassText" [defaultTab]="0" [collectionTab]="wizzardCollection"
        (tabClicked)="this.wizardStep = $event.step;">
      </dp-navtab>
    </span>
  </div>
  <div class="card-body">
    <ng-container [ngSwitch]="wizardStep">
      <ng-container *ngSwitchCase="0" [ngTemplateOutlet]="ILivello"></ng-container>
      <!--ILivello-->
      <ng-container *ngSwitchCase="1" [ngTemplateOutlet]="IILivello"></ng-container>
      <!--IILivello-->
      <ng-container *ngSwitchCase="2" [ngTemplateOutlet]="IIILivello"></ng-container>
      <!--IIILivello-->
      <ng-container *ngSwitchCase="3" [ngTemplateOutlet]="TotaleLivello"></ng-container>
      <!--TotaleLivello-->
    </ng-container>
  </div>
</div>

<ng-template #loading>
  <div class="d-flex align-items-center">
    <strong>Loading...</strong>
    <div class="spinner-grow ml-auto" role="status" aria-hidden="true"></div>
  </div>
</ng-template>

<ng-template #ILivello>
  <div class="row" *ngIf="(data$|async)?.length>0 else loading">
    <div class="col-6 col-lg-4 col-xl-3" *ngFor="let item of (data$|async); let i=index">
      <div class="col-12" style="background-color: white;border: 1px solid rgba(0, 0, 0, .0625);">
        <div class="col-12 align-self-center p-0">
          <div style="text-align: -webkit-center;">
            <span class="d-flex justify-content-between">
              <span></span>
              <span>{{item.TyLine}} - {{item.Label}}</span>
              <span>
                <!-- <a href="#" class="col-1" (click)="listChartLineClick($event)">
                  <fa-icon [icon]="['fas','chart-line']" style="color: rgb(65, 63, 63);"></fa-icon>
                </a> -->
                <a href="#" class="col-1" (click)="listCrossLineClick($event,item)">
                  <fa-icon [icon]="['fas','cog']" [style.color]="getCrossLine(item)|async"></fa-icon>
                </a>
              </span>
            </span>
            <app-rounded-doughnut-chart [data]="getBenchMark(item)" [title]="item.Label"
              [value]="getbenchMarkValue(item)|async">
            </app-rounded-doughnut-chart>
          </div>
          <div class="d-flex justify-content-between col-12 p-0">
            <span class="col-6">
              <span class="form-row">
                <div class="form-group col-6">
                  <label>{{item.By}}</label>
                  <input type="number" class="form-control disabled" readonly [value]="item.hBY?.toFixed(2)">
                  <small>% fattura</small>
                </div>
                <div class="form-group col-6">
                  <label>&nbsp;</label>
                  <input type="number" class="form-control" readonly [value]="item.pBY?.toFixed(2)">
                  <small>% fuori fattura</small>
                </div>
              </span>
            </span>
            <span class="col-6">
              <span class="form-row">
                <div class="form-group col-6">
                  <label>&nbsp;</label>
                  <input type="number" class="form-control disabled" [value]="item.hCY?.toFixed(2)">
                  <small>% fattura</small>
                </div>
                <div class="form-group col-6">
                  <label class="float-right">{{item.Cy}}</label>
                  <input type="number" class="form-control" [value]="item.pCY?.toFixed(2)">
                  <small>% fuori fattura</small>
                </div>
              </span>
            </span>
          </div>
          <div class="d-flex justify-content-between">
            <span>stato: {{item.stateDeal}}</span>
            <span>tipo : {{item.typeDeal}}</span>
          </div>
        </div>

      </div>
    </div>
  </div>
</ng-template>

<ng-template #IILivello>
  <ng-container [ngTemplateOutlet]="IIbench"></ng-container>
</ng-template>

<ng-template #IIILivello>
  <div *ngIf="(data2$|async).length>0; then IIIbench else IIbench"></div>
</ng-template>

<ng-template #TotaleLivello>
  <div class="row" *ngIf="dataTotale.Bench3">
    <div class="col-3">
      <div class="col-12" style="background-color: white;border: 1px solid rgba(0, 0, 0, .0625);">
        <div class="col-12 align-self-center p-0">
          <div style="text-align: -webkit-center;">
            <app-rounded-doughnut-chart [data]="dataTotale.Bench3" [value]="getbenchMarkValueTotale()|async"
              title="Totale">
            </app-rounded-doughnut-chart>
          </div>
          <div class="d-flex justify-content-between col-12 p-0 " style="visibility: hidden !important;">
            <span class="col-6">
              <span class="form-row">
                <div class="form-group">
                  <label></label>
                  <input type="number" class="form-control disabled" readonly [value]="">
                  <small>% </small>
                </div>
              </span>
            </span>
            <span class="col-6">
              <span class="form-row">
                <div class="form-group">
                  <label class="float-right"></label>
                  <input type="number" class="form-control" [value]="">
                  <small>%</small>
                </div>
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #IIIbench>
  <div class="row" *ngIf="(data2$|async)?.length>0 else loading">
    <div class="col-3" *ngFor="let item of (data2$|async); let i=index">
      <div class="col-12" style="background-color: white;border: 1px solid rgba(0, 0, 0, .0625);">
        <div class="col-12 align-self-center p-0">
          <div style="text-align: -webkit-center;">
            {{item.TyLine}} - {{item.Label}}
            <app-rounded-doughnut-chart [data]="getBenchMark3(item)|async" [title]="item.Label"
              [value]="getbenchMarkValue3(item)|async">
            </app-rounded-doughnut-chart>
          </div>
          <div class="d-flex justify-content-between col-12 p-0">
            <span class="col-6">
              <span class="form-row">
                <div class="form-group">
                  <label>{{item.By}}</label>
                  <input type="number" class="form-control disabled" readonly [value]="item.pBY?.toFixed(2)">
                  <small>% </small>
                </div>
              </span>
            </span>
            <span class="col-6">
              <span class="form-row">
                <div class="form-group">
                  <label class="float-right">{{item.Cy}}</label>
                  <input type="number" class="form-control" [value]="item.pCY?.toFixed(2)">
                  <small>%</small>
                </div>
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #IIbench>
  <div class="row" *ngIf="(data$|async)?.length>0 else loading">
    <div class="col-3" *ngFor="let item of (data$|async); let i=index">
      <div class="col-12" style="background-color: white;border: 1px solid rgba(0, 0, 0, .0625);">
        <div class="col-12 align-self-center p-0">
          <div style="text-align: -webkit-center;">
            {{item.TyLine}} - {{item.Label}}
            <app-rounded-doughnut-chart [data]="getBenchMark2(item)|async" [title]="item.Label"
              [value]="getbenchMarkValue2(item)|async">
            </app-rounded-doughnut-chart>
          </div>
          <div class="d-flex justify-content-between col-12 p-0" style="display: none;">
            <span class="col-6">
              <span class="form-row">
                <div class="form-group col-6">
                  <label>{{item.By}}</label>
                  <input type="number" class="form-control disabled" readonly [value]="item.hBY?.toFixed(2)">
                  <small>% fattura</small>
                </div>
                <div class="form-group col-6">
                  <label>&nbsp;</label>
                  <input type="number" class="form-control" readonly [value]="item.pBY?.toFixed(2)">
                  <small>% fuori fattura</small>
                </div>
              </span>
            </span>
            <span class="col-6">
              <span class="form-row">
                <div class="form-group col-6">
                  <label>&nbsp;</label>
                  <input type="number" class="form-control disabled" [value]="item.hCY?.toFixed(2)">
                  <small>% fattura</small>
                </div>
                <div class="form-group col-6">
                  <label class="float-right">{{item.Cy}}</label>
                  <input type="number" class="form-control" [value]="item.pCY?.toFixed(2)">
                  <small>% fuori fattura</small>
                </div>
              </span>
            </span>
          </div>
          <div class="d-flex justify-content-between">
            <span>stato: {{item.stateDeal}}</span>
            <span>tipo : {{item.typeDeal}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
