<div class="modal-header">
  <h4 class="modal-title">Fatturato</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('ko')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row d-flex justify-content-center" *ngIf="purchasedValue$|async; else loading">
    <app-line-chart name="chartLineTitle" class="col-6" [data]="purchasedValue$|async"
      [data2]="purchasedValueAtData$|async" [labels]="purchasedYears$|async" titleChart="Totale">
    </app-line-chart>
  </div>
  <div class="row" *ngIf="listLine$|async; else loading">
    <div class="col-6" *ngFor="let item of (listLine$|async); let idx=index;">
      <app-line-chart name="chartLine{{idx}}" [data]="item.TyLine|purchasedLineValue|async"
        titleChart="{{item.TyLine}} - {{item.Label}}" [labels]="item.TyLine|purchasedLineYear|async">
      </app-line-chart>
    </div>
  </div>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-primary" (click)="activeModal.close()">Ok</button>
</div>

<ng-template #loading>
  <strong>Loading...</strong>
  <div class="spinner-grow ml-auto" role="status" aria-hidden="true"></div>
</ng-template>
