<div class="container-fluid">
   <div class="row">
      <div class="col-12" style="padding-bottom: 5px;">
         <div class="card">
            <div class="card-header">
               <h5>Utenti
                  <button class="btn btn-lg btn-add btn-warning rounded-circle mb-1 mr-1" type="button" title="Aggiungi"
                     (click)="onClickUserAdd($event)">
                     <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                  </button>
               </h5>
            </div>
            <div class="card-body" *ngIf="route.children.length ===0">
               <div class="row justify-content-end" style="margin:0 -5px 0 -5px">
                  <input class="form-control form-control-sm col-2 mb-1" type="text" id="filter-text-box"
                     placeholder="Cerca..." (input)="onFilterChanged($event)" />
               </div>
               <ag-grid-angular style="width: 100%;height: 100%;" class="ag-theme-alpine" [gridOptions]="gridOptions"
                  [suppressDragLeaveHidesColumns]="true" [rowData]="rowData$|async"></ag-grid-angular>
            </div>
            <router-outlet></router-outlet>
         </div>
      </div>
   </div>
</div>